#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container {
    text-align: center;
}

#mycarousel {
    background-color: palevioletred;
}

#mycarousel img {
    height: 300px;
    margin-top: 35px;

}

p {
    font-size: 25px;
    font-family: 'lobster', cursive;
    font-weight: bold;
}
